.div0 {
    background-color: cornflowerblue;
    display: flex;
    margin-top: 170px;

}
span {
    background-color: indianred;
    display: block;
}
img {
    height: 200px;
    width: auto;
}
.div1 {
    height: 100px;
    width: 100px;
    background-color: olive;
}
.div2 {
    height: 100px;
    width: 100px;
    background-color: darkorange;
}
.div3 {
    height: 100px;
    width: 100px;
    background-color: lightcoral;
    display: none;
}
li {
    display: inline;
    margin: 24px;
}
ul {
    position: absolute;
    top: 0;
    height: 150px;
    width: 100%;
    background-color: dodgerblue;
  }
  button {
    border-radius: 12px;
    padding: 12px 24px;
    margin: 48px;
  }